---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Emojis from "../../../components/Emojis.astro";
import slugify from "../../../scripts/slugify.ts";
import InformationButton from "../../../components/InformationButton.astro"

type Thought = CollectionEntry<"thoughts">;

interface PageProps {
    page: {
        data: Thought[];
        total: number;
        currentPage: number;
        url: {
            prev?: string;
            next?: string;
        };
    };
    allThoughts: Thought[];
}

export async function getStaticPaths({ paginate }: { paginate: Function }) {
    let thoughts = await getCollection("thoughts");
    thoughts.sort((a, b) => {
        const dateA = a.data.dateModified;
        const dateB = b.data.dateModified;

        if (!dateA && !dateB) return 0;
        if (!dateA) return 1;
        if (!dateB) return -1;
        return new Date(dateB).getTime() - new Date(dateA).getTime();
    });
    return paginate(thoughts, {
        pageSize: 33,
        props: {
            allThoughts: thoughts,
        },
    });
};

const { page, allThoughts } = Astro.props as PageProps;

// thanks https://stackoverflow.com/questions/55579499/efficient-way-to-create-and-fill-an-array-with-consecutive-numbers-in-range
let totalScoreAllThoughts: number = 0;
allThoughts.forEach((thought: any) => {
    totalScoreAllThoughts += thought.data.score;
});
let pagesList = Array.from({length: Math.ceil(page.total / 33)}, (_, i)=> i + 1);
let averageScore: string = (totalScoreAllThoughts / page.total).toFixed(2);
---
<style>
    .media-grid-container {
        display: grid;
        padding: 10px;
        justify-items: center;
    }

    .media-grid-item {
        font-family: sans-serif;
        margin: 20px;
        background-color: #1f1e1e;
        background: linear-gradient(180deg, color-mix(in srgb, var(--score-color) 70%, black) 0%, #1e2222 30%, #181f22 50%, #0d1013 100%);
        padding: 10px;
        border-radius: 6px;
        width: 250px;
        /* https://getcssscan.com/css-box-shadow-examples lol */
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        transition: box-shadow 0.5s;
    }

    .media-grid-item:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }

    .media-grid-item > h3, p, .media-head > h3 {
        margin: 0;
    }

    .media-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        /* so the overflow doesnt clip the shadow */
        filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 1));
    }

    .media-head {
        display: flex;
        justify-content: space-between;
        margin: 3px 0;
    }

    .media-head p {
        margin: 0;
    }

    .media-top {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }

    #mediaSearchInput, .media-top div {
        padding: 12px 20px;
        background: linear-gradient(180deg, #212526 0, #1e2222 30%, #181f22 50%, #0d1013 100%);
        box-sizing: border-box;
        color: #fff;
        border: dotted #fff 1px;
    }

    .media-top div {
        display: flex;
        min-width: 300px;
        align-items: center;
        justify-content: center;
    }

    #mediaSearchInput {
        width: 100%;
    }

    @media screen and (min-width: 1000px) {
        .media-grid-container {
            grid-template-columns: repeat(2, auto);
        }

        .media-top {
            flex-direction: row;
        }

        .media-grid-item {
            width: 350px;
        }
    }

    @media screen and (min-width: 1300px) {
        .media-grid-container {
            grid-template-columns: repeat(3, auto);;
        }
    }
</style>
<noscript>
    <style>
        select {
            display: none;
        }
    </style>
</noscript>
<BaseLayout title="big and fat, born without arms or legs, born to jump in the air and clap">
    <div class="media-top">
        <div>
            <span><a href="/thoughts/graph">Current average score: {averageScore}/10</a></span>
        </div>
        <input autocomplete="off" type="text" id="mediaSearchInput" placeholder="Search...">
    </div>
    <div id="searchResults"></div>
    <main>
        <InformationButton info='Be warned, if you read any of these you will probably get spoiled. Also a big thanks to <a href="https://lunarcorvus.com/">Mina</a>, <a href="https://joo.sh/">Josh</a>, <a href="https://catgirlvomit.dev/">guts</a> and tm for help with figuring out the styling. No thanks to <a href="https://drfred.nekoweb.org/">Dr. Fred</a>, you cunt 🖕.' />
        <div class="media-grid-container">
        {page.data.map((thought: Thought) => {
            let scoreColor = thought.data.score < 1 ? "#5e5e5e" : thought.data.score < 3 ? "#ff4c4c" : thought.data.score < 5 ? "#ff8888" : thought.data.score < 7 ? "#f0e68c" : thought.data.score < 8 ? "#7bc96f" : thought.data.score < 10 ? "#00cc66" : "#9d63d0";
            return (
            <div class="media-grid-item" style={`--score-color: ${scoreColor}`}>
                <div class="media-head">
                    <h3 title={thought.data.title} class="media-title">{thought.data.title}</h3>
                    <h3 style={`color: ${scoreColor}; margin-left: 5px; text-shadow: 4px 3px 3px rgba(0,0,0,1);`}>{thought.data.score}/10</h3>
                </div>
                <span>{thought.data.type}</span>
                <div class="media-head">
                    <a href={`/thoughts/${thought.slug}-${slugify(thought.data.type)}`}>Read thoughts... ({Math.ceil(thought.body.replace(/(<([^>]+)>)/gi, "").split(/\s+/).length / 200)} min read)</a>
                    {thought.data.image || thought.data.imageB ? <Emojis name="image" className="image-emoji" /> : null}
                </div>
            </div>
            )
        })}
        </div>
    </main>
    <div class="bottom-div pagination-container">
        <div class="pagination-buttons left">
            {page.url.prev ? <a href={page.url.prev}>Previous</a> : <span>Previous</span>}
        </div>
        <select id="pageDropdown" onchange="window.location.href= `/thoughts/grid/${value}`;">
            {pagesList.map(i => (
                <option value={i} selected={i == page.currentPage}>Page {i}</option>
            ))}
        </select>
        <div class="pagination-buttons right">
            {page.url.next ? <a href={page.url.next}>Next</a> : <span>Next</span>}
        </div>
    </div>
</BaseLayout>
<script>
    import "../../../scripts/thoughtsSearch.ts"
</script>