---
import BaseLayout from "../../layouts/BaseLayout.astro";
import RamblingDate from "../../components/RamblingDate.astro";
import InformationButton from "../../components/InformationButton.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    // id use slice for this one but i dont trust myself to not write one of the days as without the 0 at front and im hoping itll still work with this
    const ramblings = (await getCollection("ramblings")).sort((a, b) => new Date(b.id.split(".")[0]).getTime() - new Date(a.id.split(".")[0]).getTime());
    const years = Array.from(new Set(ramblings.map((post) => post.id.slice(0, 4))));

    return years.map((year) => ({
        params: { year },
        props: {
        ramblings: ramblings.filter((post) =>
            post.id.startsWith(year)
        ),
        },
    }));
}

const { year } = Astro.params;
const { ramblings } = Astro.props;
---
<style>
    .ramblings-container {
        border-bottom: 1px hsla(0, 0%, 100%, .12) solid;
        font-size: 16px;
    }

    .page-jump {
        text-align: right;
    }

    .page-jump > a {
        text-decoration: none;
    }
</style>
<BaseLayout title={`ramblings ${year}`}>
    <div class="background-div bottom-div">
        <InformationButton info="The year-long lists of ramblings were inspired by some Chinese forum site that I forgot the name of..." />
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
            <p style="text-align: left;">Ramblings list version {year}!! (Same entries as the calendar just in a different view.)</p>
            <h3 class="page-jump to-bottom"><a href="javascript: document.body.scrollIntoView(false);">To bottom ↓</a></h3>
        </div>
            {ramblings.map((rambling) => {
                const ramblingsSlug = rambling.slug.split("-");
                return (
                <div class="ramblings-container">
                    <RamblingDate ramblingEntry={rambling} />
                    <p><a href={`/ramblings/${ramblingsSlug[0]}/${ramblingsSlug[1]}/${ramblingsSlug[2]}`}>{rambling.data.title ?? "Untitled entry"}</a></p>
                </div>
                )
            })}
        <h3 class="page-jump"><a href="#top">To top ↑</a></h3>
    </div>
    <noscript>
        <style>
            .to-bottom {
                display: none;
            }
        </style>
    </noscript>
</BaseLayout>